{% extends 'base.html' %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">

                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container">
    <div class="col-md-8 card mb-4  mt-3 left  top">
    <div class="card my-4 align-items-center">
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
        <button type="cancel" class="btn btn-primary btn-sm" onclick="window.location='{% url 'home' %}';return false;">Cancel</button>
    </form>
    </div>
    </div>
    </div>
{% endblock %}