{% extends "base.html" %}
{% block content %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white text-left"> Facilitating Plasma Transfusion for COVID-19 Patients</h3>
                    <p class="text-light text-left">This portal is made just to ensure that donors are connected to recipient. It is important that
donors and recipient ensure their well being by following the directions from their doctors.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row justify-content-center">
        {%  if user.is_authenticated %}
            {% load static %}

                                 <div class="container-fluid ">
            <div class="col">
                <div class="row justify-content-center">

                <div class="col-md-2 card mb-4  mt-3">

                 <a href="{% url 'recipient' %}" title="Find recovered COVID-19 patients in your area for potential plasma donation.">
                    <img class="mx-auto d-block" src="{% static "icons/recieve.svg" %}"style="width:140px;height:185px;border:0;">
                     <figcaption><small>Me or someone I know is a COVID 19 patient and doctor has recommended a plasma transfusion
                         therefore I am looking for a donor.</small></figcaption>
                 </a>
                </div>
                <div class="col-md-2 card mb-4  mt-3">
                 <a href="{% url 'donor' %}" title="Donate plasma to help someone if you have recovered from COVID-19.">
                    <img class="mx-auto d-block" src="{% static "icons/donate.svg" %}" style="width:140px;height:185px;border:0;">
                     <figcaption><small>I am a person who recovered from COVID 19 and want to donate my plasma.</small></figcaption>
                 </a>
                 </div>

                </div>

            <br>
            <br>
            </div>
        </div>
                 {% if user.is_staff %}

          <div class="container-fluid ">
            <div class="col">
                <div class="row justify-content-center">

                <div class="col-md-2 card mb-4  mt-3">

                 <a href="{% url 'plasma_requests' %}" title="Requests for Plasma.">
                    <img class="mx-auto d-block" src="{% static "icons/plasma_request.svg" %}"style="width:140px;height:185px;border:0;">
                     <figcaption><small>Look at Plasma Requests</small></figcaption>
                 </a>
                </div>
                <div class="col-md-2 card mb-4  mt-3">
                 <a href="{% url 'donation_requests' %}" title="Requests for Donation.">
                    <img class="mx-auto d-block" src="{% static "icons/donation_request.svg" %}" style="width:140px;height:185px;border:0;">
                     <figcaption><small>Look at Donation Requests</small></figcaption>
                 </a>
                 </div>

                </div>

            <br>
            <br>
            </div>
        </div>


                   {% endif %}
    {% else %}
        <div class="card mb-4">
                <div class="card-body">
                    <a class="nav-link text-black font-weight-bold" href="{% url 'login'%}?next={{request.path}}">Login (Old User)</a>
                    <a class="nav-link text-black font-weight-bold" href="{% url 'signup'%}">Register (New User)</a>

                </div>
        </div>
    {% endif %}
    </div>
</div>
{%endblock%}