{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> User Profile </h3>
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-sm">Edit Demographics</a>
                    <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Done</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
    {% if user.is_authenticated %}
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">

            <div class="card mb-4">

                <div class="card-body">
                    <p class="card-text ">Name: {{ demographics.user.get_full_name }}</p>
          <p class="card-text ">Gender: {{ demographics.get_gender_display}}</p>
          <p class="card-text ">DOB: {{ demographics.birth_date}}</p>
          <p class="card-text ">Phone: {{ demographics.phone}}</p>
          <p class="card-text ">E-mail: {{ demographics.user.email }}</p>
          <p class="card-text ">Address: {{ demographics.address}}</p>
          <p class="card-text ">City: {{ demographics.city}}</p>
          <p class="card-text ">Province: {{ demographics.get_province_display}}</p>
          <p class="card-text ">COVID-19 Diagnosis Date: {{ demographics.date_COVID_19_diagnosed}}</p>
                    <p class="card-text ">Blood Group: {{ demographics.blood_group}}</p>
          <p class="card-text ">Hospital that labelled positive: {{ demographics.hospital_which_labelled_positive}}</p>
          <p class="card-text ">Hospital that labelled negative:{{ demographics.hospital_which_labelled_negative}}</p>
          <p class="card-text ">Lab that labelled positive: {{ demographics.lab_which_labelled_positive}}</p>
          <p class="card-text ">Lab that labelled negative: {{ demographics.lab_which_labelled_negative}}</p>

                </div>
            </div>

        </div>

    {% else %}
       <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">You need to log in to view this page</h2>
                    <a class="nav-link text-black font-weight-bold" href="{% url 'login'%}?next={{request.path}}">Login</a>
                </div>
            </div>
    {% endif %}
    </div>
</div>
{%endblock%}